.link {
	cursor: pointer;
}

.navLink {
	color: var(--textColor);
	text-decoration: none;
	/* padding: 5px 10px; */
	display: block;
	transition: background-color 0.3s;
	border-radius: 30px;
	cursor: pointer;
}

.navLink:hover {
	background-color: var(--softBg);
}

.auth {
	position: relative;
}

.loggedIn {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: flex-start;
}

.userImage {
	border-radius: 50%;
	object-fit: cover;
	margin-left: 10px;
}

@media screen and (max-width: 640px) {
	.burger {
		display: flex;
	}

	.link {
		display: none;
	}
}