.link {
	cursor: pointer;
}

.navLink {
	color: var(--textColor);
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	transition: background-color 0.3s;
	border-radius: 30px;
	cursor: pointer;
}

.navLink:hover {
	background-color: var(--softBg);
}

.auth {
	position: relative;
}

.loggedIn {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	/* Espace entre l'image et le lien Logout */
}

.userImage {
	border-radius: 50%;
	/* Pour rendre l'image circulaire */
	object-fit: cover;
	/* Assure que l'image est bien ajustée */
}

@media screen and (max-width: 640px) {
	.burger {
		display: flex;
	}

	.link {
		display: none;
	}
}