/* @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css'); */

.bottomContent {
	display: flex;
	/* flex-direction: column; */
	gap: 50px;
}

.infoContainer {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(211, 211, 211, 0.432);
}

.textContainer {
	flex: 3;
}

.user {
	display: flex;
	align-items: center;
	gap: 20px;
}

.userImageContainer {
	width: 50px;
	height: 50px;
	position: relative;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
}

.userTextContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: var(--softTextColor);
}

.username {
	font-size: 20px;
	font-weight: 500;
}

.imageContainer {
	flex: 1;
	position: relative;
	width: 20%;
	overflow: hidden;
	/* Cache toute partie de l'image qui dépasse */
	border-radius: 10px;
	/* padding-bottom: 20px; */
}

.image {
	top: 0;
	left: 0;
	width: 100%;
	height: 75%;
	object-fit: contain;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.post {
	flex: 5;
	margin-top: 60px;
}

.section p,
.section ul {
	font-size: calc(15px + 0.390625vw);
	font-weight: 300;
	margin-bottom: 20px;
}

.section p {
	margin-bottom: 10px;
}

.section h2 {
	padding-bottom: 12px;
	color: whitesmoke;
	font-size: clamp(1.25rem, 3.5vw, 2.5rem);
}

.section h3 {
	padding-bottom: 12px;
	color: whitesmoke;
	font-size: clamp(10px, 5vw, 18px);
}

.section hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section figcaption {
	color: skyblue;
}


.bootstrap-wrapper {
	@import 'bootstrap/dist/css/bootstrap.min.css';
}

.updateHeader {
	display: flex;
	gap: 20px;
	flex-direction: row;
}

.update {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.references {
	display: flex;
	gap: 5px;
	align-items: center;
}

.postReference {
	background-color: rgb(73, 134, 215);
	padding: 7px;
	border-radius: 15px;
}

.sectionReference {
	background-color: lightseagreen;
	padding: 7px;
	border-radius: 15px;
}

.noReference {
	background-color: rgb(76, 73, 73);
	padding: 7px;
	border-radius: 15px;
}

.arrow {
	margin: 0 10px;
	/* Espacement autour de la flèche */
	display: flex;
	/* Assurer que l'élément flèche est centré */
	align-items: center;
}

.tableOfContents {
	background-color: var(--softBg);
	padding: 20px;
	border-radius: 10px;
	width: fit-content;
	margin-bottom: 30px;
	text-wrap: wrap;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 64px;
	margin-bottom: 50px;
}

@media screen and (max-width: 1536px) {
	.title {
		font-size: 54px;
	}
}

@media screen and (max-width: 1280px) {
	.title {
		font-size: 48px;
	}
}

@media screen and (max-width: 1024px) {
	.imageContainer {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.title {
		font-size: 36px;
	}

	.description p {
		font-size: 18px;
	}

	.updateHeader {
		flex-direction: column-reverse;
		gap:5px;
	}
}