.container {
	/* background-color: rgb(110, 110, 126);
	padding: 5px; */
}

.title {
	text-align: center;
	padding: 1.5rem 0;
	font-size: 26px;
	font-weight: bold;
	border-radius: 20px;
	margin-bottom: 1rem;
}