.container {
	/* background-color: rgb(110, 110, 126);
	padding: 5px; */
}

.title {
	padding: .75rem 0;
    font-size: 26px;
    font-weight: bold;
    background-color: var(--mediumTextColor);
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
	color: black;
}