.title {
	padding: .75rem 0;
    font-size: 26px;
    font-weight: bold;
    background-color: var(--mediumTextColor);
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
	color: black;
}

.imageContainer {
	display: flex;
	padding-bottom: 30px;
	justify-content: center;
}

.image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;

}

.content {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	flex-direction: column;
}

.content img {
	margin: 0 0.5rem;
}

.content p {
	color: var(--mediumTextColor);
	padding-bottom: 30px;
}

.content h5 {
	font-size: 22px;
	padding-bottom: 10px;
}