.container {
	/* padding-bottom: 30px; */
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	/* Change to column on mobile */
	align-items: center;
	/* border-bottom: 1px solid rgba(211, 211, 211, 0.432); */
	background-color: var(--softBg);
	border: 1px solid rgb(60, 66, 75);
	;
}

.imageContainer {
	width: 100%;
	/* height: 400px; */
	max-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 15px;
	/* Add some space below the image */
}

.image {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.textContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

.date {
	color: gray;
	font-size: 14px;
	/* Slightly reduce the font size */
}

.category {
	color: crimson;
	font-weight: 500;
	font-size: 14px;
	/* Slightly reduce the font size */
}

.desc {
	font-size: 16px;
	/* Slightly reduce the font size */
	font-weight: 300;
	color: var(--softTextColor);
}

.link {
	/* border-bottom: 1px solid crimson; */
	background-color: #007bb8be;
	font-weight: 500;
	color:white;
	width: max-content;
	padding: 15px 15px;
	border-radius: 5px;
}

.title {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.3;

}

.postContent {
	display: flex;
	flex-direction: row;
}

.descContent {
	flex-direction: column;
	display: flex;
	flex: 5;
	gap: 15px;
}

@media screen and (min-width: 680px) {
	.container {
		flex-direction: column;
		/* Use row layout on larger screens */
		height: auto;
		/* Let the container height adjust based on content */
	}

	.imageContainer {
		flex: 1;
		object-fit: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		/* max-height: 200px; */
	}
}

@media screen and (max-width: 680px) {
	.imageContainer {
		max-height: 200px;
	}
}