.container {
  margin-bottom: 50px;
  display: flex;
  align-items: top;
  /* background-color: darkred; */
  border-bottom: 1px solid rgba(211, 211, 211, 0.432);
  height: 250px;
}

.container:not(:last-child) {
	margin-bottom: 50px;
  }

.imageContainer {
  flex: 2;
  position: relative;
  width: 20%;
  overflow: hidden; /* Cache toute partie de l'image qui dépasse */
  border-radius: 10px;
  /* padding-bottom: 20px; */
}

.image {
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	object-fit: contain;
}

.textContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
