/* Container principal */
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: auto;
	position: relative;
	gap: 20px;
	background-color: var(--softBg);
	margin: auto;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #444;
}

/* Menu hamburger */
.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.hamburgerLine {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 4px 0;
}

/* Styles pour le menu de navigation mobile*/
.navMenu {
	display: flex;
	align-items: center;
	justify-content:space-between;
	/* text-align: center; */
	position: relative;
	flex-grow: 2;
	max-width: 1500px;
	gap: 30px;
	font-size: 22px;
	list-style: none;
}

.leftpart {
	display: flex;
	justify-content: flex-start;
	gap: 40px;
	flex: 5;
}

.rightpart {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}

.navMenuOpen {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 10px 0;
	z-index: 1000;
	width: 100%;
	list-style: none;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	background-color: var(--softBg);
}

.navMenuOpen li {
	padding: 15px 20px;
	/* Augmentez l'espacement pour plus de confort */
	text-align: left;
	/* Alignement à gauche pour un meilleur rendu */
}


.navMenuOpen li:not(:last-child) {
	border-bottom: 1px solid #444;
	/* Séparation des éléments avec une bordure */
}

/* Boutons de Discord */
.discord {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.discordButton {
	display: flex;
	align-items: center;
	background-color: #5865f2;
	gap: 10px;
	padding: 15px 15px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.bmcButton {
	display: flex;
	align-items: center;
	background-color: white;
	gap: 10px;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.discordButton:hover {
	background-color: #4752c4;
}

.discordText {
	color: white;
}

.bmcText {
	color: black;
}

.home {
	font-weight: bold;
}

.iconlogo {
	display: none;
}

.logo {
	height: auto;
	width: 10vw;
	flex: 0.2;
}


/* Mobile adjustments */
@media screen and (max-width: 1536px) {
	.navMenu {
		max-width: 1366px;
	}

	.social {
		display: none;
	}

	.logo {
		width: 10vw;
	}

	.hamburger {
		display: flex;
	}

	.navMenu {
		display: none;
	}

	.navMenuOpen {
		display: flex;
	}

	.discordText {
		display: none;
	}

	.bmcText {
		display: none;
	}

	.discord {
		display: none;
	}
}

@media screen and (max-width: 1280px) {
	.navMenu {
		max-width: 1024px;
	}
}

@media screen and (max-width: 1024px) {
	.navMenu {
		max-width: 768px;
	}
}

@media screen and (max-width: 768px) {
	/* Additional styles for this screen size can be added here if needed */
	.navMenu {
		max-width: 640px;
	}
}

@media screen and (max-width: 640px) {
	.links {
		justify-content: flex-end;
	}


	.container {
		padding-left: 2vw;
		padding-right: 5vw;
		padding-bottom: 1px;
		padding-top: 1px;
		background-color: inherit;
		border: none;
	}

	.discordButton {
		padding: 7px 9px;
		/* Adjusts the padding to make the buttons smaller */
	}

	.logo {
		width: 20vw;
	}

	.fulllogo {
		display: none;
	}

	.iconlogo {
		display: block;
	}

	.bmcButton {
		padding: 3px 5px;
	}

	.discordButton img {
		width: 15px;
		/* Reduce the size of the images */
		height: 12px;
	}

	.bmcButton img {
		width: 22px;
		/* Reduce the size of the images */
		height: 22px;
	}
}