.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
  }

  .social {
	display: flex;
	gap: 10px;
	flex-basis: 20%;
  }

  .logo {
	flex-grow: 1;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
  }

  .links {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 20px;
  }

  .navMenu {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
  }

  .discord {
	display: flex;
	justify-content: flex-start; /* Aligne le contenu à gauche */
  }

  .discordContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }

  .discordButton {
	display: flex;
	align-items: center;
	background-color: #5865f2; /* Couleur principale de Discord */
	gap: 10px;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
  }

  .discordText {
	color: white;
  }

  .discordButton:hover {
	background-color: #4752c4; /* Couleur légèrement plus foncée au survol */
  }

  .discordLogo {
	display: inline-block;
  }

  @media screen and (max-width: 1280px) {
	.logo {
	  font-size: 32px;
	}
	.links {
	  font-size: 18px;
	  gap: 15px;
	}
  }

  @media screen and (max-width: 1024px) {
	.social {
	  display: none;
	}
	.logo {
	  text-align: left;
	}
  }

  @media screen and (max-width: 768px) {
	.logo {
	  font-size: 24px;
	}
  }

  @media screen and (max-width: 640px) {
	.links {
	  justify-content: flex-end;
	}
	.link {
	  display: none;
	}
  }
