.container {
	margin-top: 50px;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	color: var(--softTextColor);
	gap: 20px;
	flex-wrap: wrap;
	/* Permet aux éléments de passer à la ligne si nécessaire */
}

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.logoText {
	font-size: 24px;
}

.desc {
	font-weight: 300;
}

.icons {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.discord {
	flex: 1;
	text-align: right;
	/* Aligne le contenu de discord à droite */
}

.discord {
	/* background-color: var(--softBg); */
	/* padding: 20px; */
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.discordContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.discordButton {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #5865f2;
	/* Discord's main color */
	font-size: 28px;
	color: white;
	padding: 12px 20px;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.discordButton:hover {
	background-color: #4752c4;
	/* Slightly darker on hover */
}

.discordLogo {
	display: inline-block;
}

.discordText {
	margin-top: 10px;
	font-size: 14px;
	color: var(--softTextColor);
	font-size: 16px;
}

.yo {
	width: 100%;
	/* Assure que cette section prend toute la largeur */
	padding-top: 20px;
	border-top: 1px solid rgba(211, 211, 211, 0.432);
	margin-top: 20px;
	padding-bottom: 20px;
}

.links {
	display: flex;
	justify-content: center;
	/* Centre les liens horizontalement */
	gap: 15px;
	/* Espace entre les liens */
}

.links :not(:first-child)::before {
	content: '•';
	color: var(--softTextColor);
	padding: 0 8px;
}

.link {
	text-align: center;
	color: var(--softTextColor);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1280px) {
	.container {
		flex-direction: column;
	}

	/* .links {
	  justify-content: start;
	} */

	.discord {
		text-align: left;
		/* Réaligne à gauche sur les petits écrans */
	}
}

@media screen and (max-width: 768px) {
	.links {
		font-size: 14px;
		width: 100%;
		/* Assure que les liens prennent toute la largeur sur les petits écrans */
		flex-direction: column;
		justify-content: start;
	}

	.links :not(:first-child)::before {
		content: ' ';
		padding: 0;
	}
}