.container {
	margin-top: 50px;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; /* Align items to the top */
	color: var(--softTextColor);
	gap: 20px;
	flex-wrap: wrap;
  }

.info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.logoText {
	font-size: 24px;
}

.desc {
	font-weight: 300;
}

.icons {
	margin-top: 10px;
	display: flex;
	gap: 10px;
}

.bmcContainer,
.discordContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
  text-align: center;
  flex: 1;
}

.bmcButton {
	background-color: white;
  }

  .discordButton {
	background-color: #5865f2;
	font-size: 28px;
	color: white;
  }

.bmcButton {
	display: flex;
	align-items: center;
	background-color: white;
	gap: 10px;
	padding: 15px;
	border-radius: 10px;
	width: fit-content;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}
.discordButton {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px;
	border-radius: 10px;
	background-color: #5865f2;
	/* Discord's main color */
	/* font-size: 28px; */
	color: white;


	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.bmcText {
	color: black;
	font-size: 26px;
}

.discord {
	flex: 1;
	text-align: right;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Aligne le contenu de discord à droite */
}





.discordButton:hover {
	background-color: #4752c4;
	/* Slightly darker on hover */
}

.discordLogo {
	display: inline-block;
}

.important {
	color: cornflowerblue;
	font-weight: 600;
}


.paragraphText {
	margin-top: 10px;
	font-size: calc(15px + 0.390625vw);
}

.yo {
	width: 100%;
	/* Assure que cette section prend toute la largeur */
	padding-top: 20px;
	border-top: 1px solid rgba(211, 211, 211, 0.432);
	margin-top: 20px;
	padding-bottom: 20px;
}

.links {
	display: flex;
	justify-content: center;
	/* Centre les liens horizontalement */
	gap: 15px;
	/* Espace entre les liens */
}

.links :not(:first-child)::before {
	content: '•';
	color: var(--softTextColor);
	padding: 0 8px;
}

.link {
	text-align: center;
	color: var(--softTextColor);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1280px) {
	.container {
		flex-direction: column;
	}

	.discord {
		text-align: left;
		/* Réaligne à gauche sur les petits écrans */
	}
}

@media screen and (max-width: 768px) {
	.links {
		font-size: 14px;
		width: 100%;
		/* Assure que les liens prennent toute la largeur sur les petits écrans */
		flex-direction: column;
		justify-content: start;
	}

	.links :not(:first-child)::before {
		content: ' ';
		padding: 0;
	}
}