.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: #5589a5b7; */
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.title {
	margin: 50px 0px;
}

.catTitle {
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 350px;
	background-color: #57c4ff31;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	/* Ajustez si nécessaire */
}

.image {
	width: 100%;
	height: auto;
	/* object-fit: cover; */
	aspect-ratio: 3 / 1;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	/* Proportion 768/256 */
}


@media screen and (max-width: 1280px) {
	.category {
		width: 20%;
	}
}

@media screen and (max-width: 1024px) {
	.category {
		width: 25%;
	}
}

@media screen and (max-width: 768px) {
	.category {
		width: 45%;
	}
}

@media screen and (max-width: 640px) {
	.category {
		width: 100%;
	}
}