.container {
  flex: 2;
  margin-top: clamp(24px, 6vw, 60px);
}

.subtitle {
  color: gray;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
}
.title {
  font-size: clamp(20px, 1.6vw, 28px);
}


@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
